discrete.pdf
discrete.sty
build/*
*.aux
*.bib
*.glo
*.hd
*.idx
*.ins
*.log
*.out
*.toc
*.exa
*.ilg
*.ind
*.bbl
*.blg
*.fdb_latex
*.fls
discrete.synctex.gz
.terminal.term-0.term
discrete/.DS_Store
tikzlibrarydiscrete/tikzlibrarydiscrete.pdf
tikzlibrarydiscrete/tikzlibrarydiscrete.code.tex
tikzlibrarydiscrete/tikzlibrarydiscrete.synctex.gz
